<div id="banner">
    <div id="signup"></div>
</div>
<div id="main">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div id="tag"></div>
</div>
<div id="news">
    <div id="news1"></div>
    <div id="news2"></div>
    <div id="news3"></div>
</div>
<div id="footer">
    <div id="info"></div>
    <div id="contact"></div>
    <div id="location"></div>
</div>

