<header>
    <div class="menu">
        <button class="menu__button" type="button">
            <span class="menu__button-icon">
                <span class="icon-wrap"></span>
            </span>
        </button>
    </div>
    <div class="logo">{{logo-name}}</div>
    <nav class="nav"></nav>
</header>
<main>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div id="tag"></div>
</main>
<div id="news">
    <div id="news1"></div>
    <div id="news2"></div>
    <div id="news3"></div>
</div>
<div id="footer">
    <div id="info"></div>
    <div id="contact"></div>
    <div id="location"></div>
</div>

